:host {
  display: block;
}

.item {
  width: 300px;
  outline: 1px red solid;
}

.item__header {
  text-align: center;
  margin-bottom: 1em;
}

.item__content {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #000;
  margin-bottom: 1em;
}

.item__btn {
  width: 100%;
}