<div class="container">
    <app-my-button class="btn" [text]="'Назад'"></app-my-button>
    <form action="" class="form">
        <h2 class="form__header">Запись "{{post.title}}"</h2>
        <input name="title" type="text" class="form__title" placeholder="Title записи" [(ngModel)]="post.title">
        <textarea name="content" class="form__content" placeholder="Контент записи" [(ngModel)]="post.content"></textarea>
        <div class="form__btns">
            <app-my-button class="btn" [btnType]="'btn_remove'" [text]="'Удалить'"></app-my-button>
            <app-my-button class="btn" [btnType]="'btn_save'" [text]="'Сохранить'"></app-my-button>
        </div>
    </form>
</div>